SampleAppWithCocoapods/SampleAppWithCocoapods.xcodeproj/project.xcworkspace/xcuserdata
SampleAppWithCocoapods/SampleAppWithCocoapods.xcodeproj/xcuserdata
SampleAppWithCocoapods/Pods
SampleAppWithCocoapods/SampleAppWithCocoapods.xcworkspace/xcuserdata

.bitrise*
Gemfile.lock
Podfile.lock
